[submodule "student_practices/W11/D1/practice-for-week-11-improve-sql-queries-short-practice"]
	path = student_practices/W11/D1/practice-for-week-11-improve-sql-queries-short-practice
	url = https://github.com/appacademy/practice-for-week-11-improve-sql-queries-short-practice.git
